body{font-family: sans-serif;}

ul{
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
li a{
    text-decoration: none;
    color: black;
    font-size: 1,4rem;
}

li{
    text-align: center;

}

@media (min-width: 450px) {
    body{
        background-color: antiquewhite;
    }
}
@media (orientation: landscape) and (max-width: 450px)
    {
        body {
            background-color: blueviolet;
        }
    }

/*prilagodba za desktop*/

@media (min-width: 650px){

    ul{
        flex-direction: row;
    }
    body{
        background-color: white;
    }
}
@media print {

    nav{
        display: none;
    }
    
}

    


